{% if cust %}
	客户数: {{ cust|length}}
{% endif %}
<table border="1"> 
    <tr>
        <th>客户ID</th>
        <th>姓名</th>
        <th>地址</th>
        <th>手机</th>
        <th>淘宝ID</th>
        <th>淘宝ID</th>
    </tr>
	{% comment %}
		cust is already a list, so cannot use below
		{% for c in cust.all %}
	{% endcomment %}
    {% for c in cust %}
    <tr>
        <td>{{ c.cust_id }}</td>
        <td>{{ c.cust_name }}</td>
	<td>{{ c.cust_country }} {{ c.cust_state }} {{ c.cust_city }} {{ c.cust_address }}</td>
        <td>{{ c.cust_mobile }}</td>
        <td>{{ c.cust_taobaoid }}</td>
        <td>{{ c.cust_baiduid }}</td>
    {% empty %}
        <td> Sorry</td>
    </tr>
    {% endfor %}

</table>
