{% if inventory %}
	产品总数: {{ inventory|length}}
{% endif %}
<table border="1"> 
    <tr>
        <th>产品ID</th>
        <th>姓名</th>
        <th>生产商ID</th>
        <th>进价</th>
        <th>出价</th>
        <th>库存</th>
        <th>描述</th>
    </tr>
    {% for prod,inv in inventory %}
    <tr>
        <td>{{ prod.prod_id }}</td>
        <td>{{ prod.prod_name }}</td>
	<td><a href={% url 'jizhang:VendorDetails' %}?vend_id={{ prod.vend_id.vend_id }}>{{ prod.vend_id.vend_id }}</a></td>
        <td>{{ prod.prod_price_in }}</td>
        <td>{{ prod.prod_price_out }}</td>
	<td>{{ inv }}</td>
        <td>{{ prod.prod_desc }}</td>
    {% empty %}
        <td> Sorry</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href={% url 'jizhang:ProductsHome' %}>产品主页</a>
<br>
<a href={% url 'jizhang:home' %}>Jiz主页</a>
