{% if orders %}
	订单数: {{ orders|length}}
{% endif %}
<table border="1"> 
    <tr>
        <th>订单ID</th>
        <th>订单日期</th>
        <th>状态</th>
        <th>客户</th>
        <th>订单URL</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.order_num }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.order_status }}</td>
	<td><a href={% url 'jizhang:CustomerDetails' %}?cust_id={{ order.cust_id.cust_id }}>{{ order.cust_id.cust_name }}</td>
	<td><a href={{ order.order_url }}>这里</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href={% url 'jizhang:OrdersHome' %}>订单主页</a>
<br>
<a href={% url 'jizhang:home' %}>Jiz主页</a>
