<h2>Welcome to Orders Home Page!</h2>

<h4>Latest 5 orders:</h4>
<table border="1">
	<tr>
		<th>Order ID</th>
		<th>Order Date</th>
		<th>Status</th>
		<th>Product</th>
		<th>Customer</th>
	</tr>
    {% for order in orders %}
	<tr>
        <td><a href={% url 'jizhang:OrderDetails'%}?order_num={{ order.order_num }}>{{ order.order_num }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.order_status }}</td>
        <td>not implemented</td>
        <td><a href={% url 'jizhang:CustomerDetails'%}?customer_id={{ order.cust_id.cust_id }}>{{ order.cust_id.cust_name }}</td>
	</tr>
    {% endfor %}
</table>

<br>
<form action="{% url 'jizhang:OrderDetails' %}" method="get">
	Order ID: <input type="text" name="order_id">
	<input type="submit" value="search">
</form>


<form action="{% url 'jizhang:OrderDetails' %}" method="get">
    <input type="submit" name="OrdersInWeek" value="本周订单" class="button"></input>
</form>

<form action="SearchOrderThisMonth">
	<input type="button" value="Orders in this Month">
</form>

<form action="SearchOrderByTime">
	<input type="button" value="Search orders by time">
</form>

<form action="SearchOrderByProduct">
	<input type="button" value="Search orders by product">
</form>
