<h2>欢迎来到订单主页!</h2>

<h4>最近5个订单:</h4>
<table border="1">
	<tr>
		<th>订单ID</th>
		<th>下单日期</th>
		<th>状态</th>
		<th>客户</th>
		<th>产品</th>
	</tr>
    {% for order in orders %}
    <tr>
	<td rowspan={{ order.orderitems_set.all.count }}><a href={% url 'jizhang:OrderDetails'%}?order_id={{ order.order_id }}>{{ order.order_id }}</td>
	<td rowspan={{ order.orderitems_set.all.count }}>{{ order.order_date }}</td>
	<td rowspan={{ order.orderitems_set.all.count }}>{{ order.order_status }}</td>
	<td rowspan={{ order.orderitems_set.all.count }}><a href={% url 'jizhang:CustomerDetails'%}?customer_id={{ order.cust_id.cust_id }}>{{ order.cust_id.cust_name }}</td>
	{% for item in order.orderitems_set.all %}
	<td><a href={% url "jizhang:ProductDetails"%}?prod_id={{item.prod_id.prod_id}}>{{ item.prod_id.prod_name }}</td>
	</tr>
	<tr>
	{% endfor %}
	</tr>
    {% endfor %}
</table>

<br>
<form action="{% url 'jizhang:OrderDetails' %}" method="get">
	订单ID: <input type="text" name="order_id">
	<input type="submit" value="搜索">
</form>


<form action="{% url 'jizhang:OrderDetails' %}" method="get">
    <input type="submit" name="OrdersInWeek" value="本周订单" class="button"></input>
</form>

<form action="{% url 'jizhang:OrderDetails' %}" method="get">
    <input type="submit" name="OrdersInMonth" value="本月订单" class="button"></input>
</form>

<form action="SearchOrderByTime">
	<input type="button" value="Search orders by time">
</form>

<form action="SearchOrderByProduct">
	<input type="button" value="Search orders by product">
</form>
