{% extends 'base.html' %}

{% block greeting %}欢迎来到产品主页!{% endblock %}

{% block page %}
<form class="form-horizontal" role="form" actimn="{% url 'jizhang:ProductDetails' %}" method="get">
  <div class="form-group">
    <label for="inputProdID" class="col-sm-2 control-label">产品ID:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="prod_id" placeholder="ID">
    </div>
    <input type="submit" class="col-sm-1 form-control" value="搜索">
    {#<button type="submit" class="btn btn-default">搜索</button> #}
  </div>
</form>

<form action="{% url 'jizhang:ProductDetails' %}" method="get">
    产品名称: <input type="text" name="prod_name">
    <input type="submit" value="搜索">
</form>

<form action="{% url 'jizhang:ProductDetails' %}" method="get">
    生产商名称: <input type="text" name="vend_name">
    <input type="submit" value="搜索">
</form>

<form action="{% url 'jizhang:ProductDetails' %}" method="get">
    <input type="submit" name="AllProducts" value = "所有产品" class="button"></input>
</form>
{% endblock page %}
