{% extends 'base.html' %}

{% block greeting %}欢迎来到产品主页!{% endblock %}

{% block page %}
<form class="form-horizontal" role="form" action="{% url 'jizhang:ProductDetails' %}" method="get">
  <div class="form-group">
    <label for="inputProdID" class="col-sm-2 control-label mylabel">产品ID:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="prod_id" placeholder="如: 1">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
  </div>
</form>

<form class="form-horizontal" role="form" action="{% url 'jizhang:ProductDetails' %}" method="get">
  <div class="form-group">
    <label for="inputProdName" class="col-sm-2 control-label mylabel">产品名称:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="prod_name" placeholder="如: 发带">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
  </div>
</form>

<form class="form-horizontal" role="form" action="{% url 'jizhang:ProductDetails' %}" method="get">
  <div class="form-group">
    <label for="inputVendName" class="col-sm-2 control-label mylabel">生产商名称:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="vend_name" placeholder="如: Self">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
  </div>
</form>

<form class="form" action="{% url 'jizhang:ProductDetails' %}" method="get">
    <button type="submit" name="AllProducts" class="btn btn-default">所有产品</button>
</form>
{% endblock page %}
