{% extends 'details.html' %}

{% block page %}

{% if inventory %}
<h5>产品总数: {{ inventory|length}}</h5>
{% endif %}

<div class="row">
  <div class="col-md-10">
     <table class="table table-bordered table-hover"> 
       <tr class="active">
        <th>产品ID</th>
        <th>名称</th>
        <th>生产商</th>
        <th>进价</th>
        <th>出价</th>
        <th>进货总数</th>
        <th>库存</th>
        <th>批次</th>
        <th>描述</th>
       </tr>
       {% for prod,inv in inventory %}
       <tr>
        <td>{{ prod.prod_id }}</td>
        <td>{{ prod.prod_name }}</td>
	   <td><a href={% url 'jizhang:VendorDetails' %}?vend_id={{ prod.vend_id.vend_id }}>{{ prod.vend_id.vend_name }}</a></td>
        <td>{{ prod.prod_price_in }}</td>
        <td>{{ prod.prod_price_out }}</td>
        <td>{{ prod.prod_total_amount }}</td>
	   <td>{{ inv }}</td>
        <td>{{ prod.prod_batch_id }}</td>
        <td>{{ prod.prod_desc }}</td>
      {% empty %}
        <td> Sorry</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<a href="{% url "jizhang:ProductsHome" %}">返回</a>

{% endblock page %}
