{% if inventory %}
	Number of products: {{ inventory|length}}
{% endif %}
<table border="1"> 
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Vendor ID</th>
        <th>Price In</th>
        <th>Price Out</th>
        <th>Inventory</th>
        <th>Description</th>
    </tr>
    {% for p in inventory %}
    <tr>
        <td>{{ p.0.prod_id }}</td>
        <td>{{ p.0.prod_name }}</td>
	<td><a href=http://192.168.217.13:8081/vendor?vend_id={{ p.0.vend_id.vend_id }}>{{ p.0.vend_id.vend_id }}</a></td>
        <td>{{ p.0.prod_price_in }}</td>
        <td>{{ p.0.prod_price_out }}</td>
	<td>{{ p.1 }}</td>
        <td>{{ p.0.prod_desc }}</td>
    {% empty %}
        <td> Sorry</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href={% url 'jizhang:ProductsHome' %}>Products Home</a>
<br>
<a href={% url 'jizhang:home' %}>Jiz Home</a>
