<h2>Welcome to Products Home Page!</h2>

<form action="{% url 'jizhang:ProductDetails' %}" method="post">
    Product ID: <input type="text" name="prod_id">
    <input type="submit" value="search">
</form>

<form action="{% url 'jizhang:ProductDetails' %}" method="post">
    Product Name: <input type="text" name="prod_name">
    <input type="submit" value="search">
</form>

<form action="{% url 'jizhang:ProductDetails' %}" method="post">
    Vender Name: <input type="text" name="vend_name">
    <input type="submit" value="search">
</form>
